@tailwind base;
@tailwind components;
@tailwind utilities;


h1 {
  background-color: rgba(238, 238, 238, 0.399);
  text-align: center;
  font-family: confiteria-script, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  color: green;
  padding: 20px;
  
}

.subtitle{
  text-align: center;
  font-family:monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  transform: rotate(10deg);
  margin-left: 20px;
}

.aboutme{
  font-family:monospace;
  font-size: large;
  padding-top: 40px;
  margin-left: 300px;
  margin-right: 300px;

}

#textabout {
  background-color: rgba(40, 197, 35, 0.051);
  margin-right: 550px;
  margin-left: 550px;
  text-align: center;
  font-family:monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  transform: rotate(10deg);
  }

a{
  color: rgb(255, 255, 255);
  margin-left: 10px;
  margin-bottom: 3px;
  border-bottom-style:groove;
  border-width: 2px;  
  background-image: linear-gradient(115deg, rgba(0, 128, 0, 0.705), rgb(280, 280, 280) );
  border-radius: 5px;
  
}

body {
  background: green no-repeat fixed center;
  background-image: radial-gradient( circle, white, grey, rgb(0, 128, 0) ); 
}

.home {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 60px;
      font-weight: lighter;
      border: 3px solid grey;
      border-radius: 20px;   
      border-style: ridge;
      width: fit-content;
      justify-content: center;
      /* height: 60px;
      margin-top: 60px;*/
      }

.title {
  text-align: center;
  font-family: confiteria-script, sans-serif;
  font-weight: 400;
  font-style: normal;
font-size: 45px;
color: green;
}
.title2 {
  text-align: center;
  font-size: 30px;
  font-family: confiteria-script, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.topnav {
  overflow: hidden;
  background-color: rgba(51, 51, 51, 0.1);
  
}

ul.sidebar {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  list-style-type: none;
  margin: 0;
  display:block;
  padding: 16px;
  width: 300px;
  position:absolute;
  transform: translate(-20px, -100px);
  height:100%;
  overflow: auto;
}
ul.sidebar a {
    display: block;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-decoration: none;
    
}
ul.sidebar a.active{
  /* background-color: #04AA6D; */
  color: white;
}

ul.sidebar a:hover:not(.active) {
background-color: rgb(0, 0, 0);
color: rgb(208, 255, 0);
}

div.content {
  margin-left: 0px;
  padding: 1px 16px;
  height: 1000px;
}

li a {
  display: block;
  width: 120px;
}

/* The navbar container */
.topnav {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 0px;
}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 12px 30px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

/* Links - change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

